/* ------------------- About Section ------------------- */
#about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#about-title {font-size: 2rem;}

.about-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20vw;
  padding-right: 10vw;
}

.about-image-container {
  justify-self: center;
}
.about-image {max-width: 400px;}
.about-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 700px;
}

.about-btns {align-self: center;}

.about-btns button {
  font-family: inherit;
  padding: 10px 10px;
  border: 3px solid var(--button-border);
  background: var(--on-background);
  color: var(--on-primary);
  margin: 0px 5px;
  border-radius: 7px;
  transition: transform .3s;
  outline: none;
  cursor: pointer;
}

.about-btns button:hover { 
  transform: scale(1.2);
  box-shadow: var(--button-box-shadow);
}

.about-btn-active {
  font-weight: bold;
  color: var(--primary-color) !important;
}

.skill-list {width: 700px;}

.skill-list {
  display: flex;
  flex-flow: wrap;
}

.skill {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 16px;
  flex: 50%;
  text-align: center;
}
.skill span{font-size: 14px;}
.skill:hover {cursor: default;}

.education-bio, .personal-bio {width: 650px; line-height: 1.5rem; font-size: 1.2rem;}
.education-bio a {
  color: var(--primary-variant);
  background-color: var(--background);
}

@media screen and (max-width: 1550px) {.skill-list, #education-info, #personal-info {width: 750px;} .about-image {width: 400px;}}
@media screen and (max-width: 1400px) {.skill-list, #education-info, #personal-info {width: 650px;} .education-bio, .personal-bio {width: 400px;}}
@media screen and (max-width: 1200px) {.skill-list, #education-info, #personal-info {width: 550px;} .about-image {width: 375px;}}
@media screen and (min-width: 901px) { .skill:hover { animation: jiggleSmall .5s linear forwards; }}
@media screen and (max-width: 900px) {
  .about-container {padding-left: 10vw;}
  .about-image {width: 325px;}  
  .skill-list, #education-info, #personal-info {width: 375px;}
  .education-bio, .personal-bio {width: 325px; font-size: 16px;}
  .skill {flex: 100%; text-align: left; font-size: 20px;}
  .skill:hover {animation: highlightContent .5s forwards;}
}