/* ------------------- Contact Section ------------------- */
#contact .fab, #contact .far {
  font-size: 100px;
  margin: 0px 25px;
  cursor: pointer;
  color: var(--primary-color);
}

#contact .fab a, 
#contact .far a {
  text-decoration: none;
}

#contact .fab:hover, #contact .far:hover {
  animation: jiggle .3s linear forwards;
}
