/* ---------------------- Navbar ---------------------- */
nav {
  position: absolute;
  z-index: 10;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 25px 0px;
  width: 100vw;
  background: var(--nav-background);
}

nav a {
  margin-right: 20px;
  border-bottom: 3px solid transparent;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover, a:focus {
  border-bottom: 3px solid;
  color: var(--on-background);
  transition: all .3s;
}

#nav-home {
  margin-left: 25px;
}

#nav-home img {
  max-width: 50px;
  border-radius: 50%;
}

.ml-25 {
  margin-left: 25px;
}

/* to top wrapper */

.to-top-wrapper {
  z-index: 10;
  opacity: .5;
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.to-top-wrapper i {
  color: var(--primary-color);
  padding: 10px;
  background-color: var(--on-background);
  border-radius: 50%;
  
}

.to-top-wrapper:hover{
  animation: makeOpaque .3s linear forwards;
}

@keyframes makeOpaque{
  from {opacity: .5;}
  to {opacity: 1;}
}